* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}



.hero{
    background-image: url(asset/asset/baniere.png);
    height: 100vh;
    padding: auto;
   
  
}


header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


.space-evenly {
    justify-content: space-evenly;
}


.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-12 {
    gap: 12px;
}

.gap-24 {
    gap: 24px;
}

/* direction */
.flex-column {
    flex-direction: column;
}

ul{
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    list-style-type: none;
}

.text-blanc{
    color: white;

}


.contenair{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.margin-bottom{
    margin-top: 51px;
}

.btn{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.text-align{
    text-align: center;
}

.w-33{
    width: 33%;
}

.padding-50{
    padding: 50%;
}

.padding-20{
    padding: 20%;
}



.padding-5{
    padding: 5%;
}

.margin-top{
    margin-top: 100px;
    
}

.bg-color{
    background-color: #F2EAE4;
}

.w-20{
    width: 20%;
}


.w-40{
    width: 40%;
}




.margin-bottomm{
    margin-bottom: 70px;
}


.bg-color-white{
    background-color: white;
}


.flex-end{
    justify-content: flex-end;
}


.w-25{
    width: 25%;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}